body{
    background-color: rgb(171, 201, 236)
}
.imagem{text-align: center;}
img{
    width: 45%; text-align: center;
}

h1{
    color: darkblue; text-align: justify;
}
p{
    font-size: 25px;
}
strong{
    color: brown;
}
